<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./inc/head') %>
</head>
<body>
      
      <%- include('./inc/nav.ejs') %> 

     <section>
     
      <h1><%= blog.title %> </h1>
      <h2><%= blog.short %> </h2>
      <p><%= blog.long %></p>

     </section>

</body>
</html>